<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tang.mapper.DetailsMapper">
    <select id="detailsByName" resultType="details" parameterType="string">
        select *
        from details
        where province_short_name=#{name};
    </select>
    <insert id="insertDetails" parameterType="details">
        insert into details (province_short_name, current_onfirmed_count, `time` )
        values (#{provinceShortName},#{currentConfirmedCount},#{time});
    </insert>
    <update id="updateByName" parameterType="details">
        update details
        set `time` = #{time},`current_onfirmed_count`=#{currentConfirmedCount}
        where `province_short_name`=#{provinceShortName};
    </update>
</mapper>



