<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tang.mapper.HistoryMapper">
    <select id="findToday" resultType="HistoryBean">
        select *
        from history_bean order by id desc limit 1;
    </select>
    <insert id="insertBean" parameterType="HistoryBean">
        insert into history_bean (`time`,`current_confirmed_ount`,`confirmedCount`,`curedCount`,`deadCount`,`provinceName`)
        values (#{time},#{currentConfirmedCount},#{confirmedCount},#{curedCount},#{deadCount},#{provinceName});
    </insert>
    <select id="selectByName" resultType="string" parameterType="string">
        select statistics_data
        from history_bean where province_name = #{name};
    </select>
</mapper>



